Repository Name: <a href="https://github.com/{{repoOrg}}/{{repoName}}">{{repoOrg}}/{{repoName}}</a>
Created By: <a href="https://github.com/{{repoCreator}}">{{repoCreator}}</a>

<!-- probot = {{{json}}} -->
