Removed User: <a href="https://github.com/{{removedUser}}">{{removedUser}}</a>
{{#if removed}}
Removed By: <a href="https://github.com/{{remover}}">{{remover}}</a>
{{/if}}

<a href="https://github.com/orgs/CondeNast/people?utf8=%E2%9C%93&query={{removedUser}}">CondeNast search</a>
<a href="https://github.com/orgs/CondeNast-Copilot/people?utf8=%E2%9C%93&query={{removedUser}}">CondeNast-Copilot search</a>
<a href="https://github.com/orgs/conde-nast-international/people?utf8=%E2%9C%93&query={{removedUser}}">conde-nast-international search</a>

<!-- probot = {{{json}}} -->

