Removed User: <a href="https://github.com/{{removedUser}}">{{removedUser}}</a>
{{#if removed}}
Removed By: <a href="https://github.com/{{remover}}">{{remover}}</a>
{{/if}}

<!-- probot = {{{json}}} -->

