Repository Name: <a href="https://github.com/{{org}}/{{repo}}">{{org}}/{{repo}}</a>
{{#if repoCreator}}
Created By: <a href="https://github.com/{{repoCreator}}">{{repoCreator}}</a>
{{/if}}

<!-- probot = {{{json}}} -->
